input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.card__price-amount {
	display: grid;
	grid-template-columns: 2rem 3rem 2rem;
	align-items: center;
	justify-self: center;
}

.card__price-input-field {
	width: 4ch;
	border: 2px solid rgb(229, 231, 235);
	padding: 0.625rem 0.5rem;
	text-align: center;
	margin: 0;
}
.digit {
	scale: 1.25;
	display: block;
	cursor: pointer;
	text-align: center;
	margin: auto;
	&.digit-minus svg{
		@apply fill-gray-400;
	}
}


@layer components {
	.form {
		label {
			@apply text-sm font-semibold;
		}
		input, textarea, [type='text'], [type='email'], [type='url'], [type='password'], [type='number'], [type='date'], [type='datetime-local'], [type='month'], [type='search'], [type='tel'], [type='time'], [type='week'], [multiple], textarea, select {
			@apply text-base font-normal rounded-[4px] border-slate-200 bg-slate-100;
		}
	}
	input, textarea, [type='text'], [type='email'], [type='url'], [type='password'], [type='number'], [type='date'], [type='datetime-local'], [type='month'], [type='search'], [type='tel'], [type='time'], [type='week'], [multiple], textarea, select {
		@apply text-base font-normal rounded-[4px] border-slate-200 bg-slate-100;
	}
}
.form-zapros {
	display: block;
	grid-template-columns: 1fr 3fr;
	align-items: start;
	align-content: start;
	gap: 0 2rem;
	background: white;
	padding: 3rem 1rem;
	@media screen and (min-width: 1024px){
		display: grid;
		padding: 4rem;
	}

	.form__header {
		display: grid;
		justify-self: start;
		gap: 0 1rem;
		margin-bottom: 2rem;
		grid-template-columns: 5rem auto;
	}
	.form__header-icon {
		grid-row: 1/3;
		svg {
			transform: scale(0.75) translateY(-10px);
		}
	}
	.form__title {
		grid-column: 2/3;
		margin-top: 0;
		line-height: 1;
		margin-bottom: .5rem;
		align-self: end;
		max-width: 14rem;
	}
	.form_desc {
		grid-column: 2;
	}
	.form__subtitle {
		grid-column: 2/3;
		@apply text-secondary;
	}

}